body{
    background-color: lightslategray;
}
.logo-nav{
    width: 50px;
}
footer {
    background-color: black;
    color: white;
}
.logo-stretch{
    display: block;
    max-width: 100%;
    height: auto;
}
.logo-inline-stretch{
    max-width: 100px;
    height: auto;
}
.user-info{
    background-color: whitesmoke;
    border-radius: 5px;
    padding: 20px 20px 0 20px;
}
.avatar{
    vertical-align: middle;
    width: auto;
    max-width: 200px;
    height: auto;
    border-radius: 15%;
}
.avatarInReview{
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 15%;
}

/* TEXT DECORATION */
.link-white{
    color:white;
}
.link-white:hover{
    color: red;
    text-decoration-line: none;
}
.link-black{
    color:black;
    text-decoration-line: underline;
}
.link-black:hover{
    color: red;
    text-decoration-line: underline;
}
.text-red{
    color: red;
}
.text-green{
    color: green;
}
.ratingSys{
    color:gold;
    font-weight: bold;
    font-size: 30px
}
.notif{
    color: white;
}

