body{
    background-color: lightslategray;
}
.logo-nav{
    width: 50px;
}.notif{
    color: white;
}
footer {
    background-color: black;
    color: white;
    padding: 15px;
}
.logo-stretch{
    display: block;
    max-width: 100%;
    height: auto;
}
.link-white{
    color:white;
}
.link-white:hover{
    color: red;
}
.link-black{
    color:black;
    text-decoration-line: underline;
}