body{
    background-color: lightslategray;
}
.logo-nav{
    width: 50px;
}.notif{
    color: white;
}
footer {
    background-color: black;
    color: white;
    padding: 15px;
}
.logo-stretch{
    display: block;
    max-width: 100%;
    height: auto;
}